<h1>Suspicious User Registration</h1>
<div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id/cookie</th>
                    <th>Email</th>
                    <th>OS</th>
                    <th>Browsers</th>
                    <th>IP Address</th>
                    <th>Wilayah</th>
                    <th>Provider</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>UndG8bb3hZ</td>
                    <td>foo@bar.com</td>
                    <td>Windows 7</td>
                    <td>Safari 11</td>
                    <td>192.168.56.123</td>
                    <td>Jagakarsa</td>
                    <td>Telkomsel</td>
                    <td>
                        <button type="button" class="btn btn-default">Send Verify</button>
                        <button type="button" class="btn btn-default">Detail</button>
                    </td>
                 
                </tr>

            </tbody>
        </table>
    </div>

</div>